
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("../images/8.png") no-repeat fixed center;
    background-size: cover;
}

@keyframes animation_for_datepicker {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.ui-state-active {
    opacity: 1;
    animation: animation_for_datepicker 1s ease-out;
}

#information_client {
    position: relative;
    height: 300px;
    border: 2px solid #8787cb;
    border-radius: 25px;
    overflow: hidden;
}

#information_client::before {
    content: '';
    position: absolute;
    top: 0; /* 调整位置以覆盖边框 */
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    z-index: -1;
}

#information_client *:not(button) {
    color: black;
}