


.form-select:focus, .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
}

label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.w-80 {
    width: 80% !important;
}

@keyframes animation_for_datepicker {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.ui-state-active {
    opacity: 1;
    animation: animation_for_datepicker 1s ease-out;
}
