<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" sizes="64x64" href={{ favicon }}>
    <title>Gestion Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/super_user_gestion.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
</head>
<body>
    <div id="login_content" style="display: block">
        <div>
            <h1>Login</h1>
        </div>
    </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='JavaScript/superUserLogin.js') }}"></script>
</html>